<div class="row py-2">

  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4 book-info" style="width: 18rem;">
      <div class="book-image">
        여기에 적당히 유저 그림
		    <%#= image_tag extract_thumbnail250_url(strip_tags(params[:thumbnail])), class: "border mx-3", width: "250px" %>
      </div>
      
      <div class="book-detail">
        
        <h4 class="card-title mb-2">적당한 유저이름</h4>
        <div class="card-subtitle my-3 ml-2">
          여기에 적당히 유저 정보 
				</div>

				<div class="description">
          여기에 적당히 유저 세부 정보
				</div>
				
      </div>
    </div>

  </div>

  <div class="col-md-8 order-md-1">
    
    <div class="new-card card my-4">
      <div class="content-input">
        <div class="row">
          <%= image_tag avatar_url(current_user), class: "rounded-circle user-photo" %>
          <div class="content-panel">
            
            <%= form_for(@message) do |form| %>
              <%= form.hidden_field :sender_id, :value => current_user.id %>
              <%= form.hidden_field :receiver_id, :value => current_user.id %>
      
              <%= form.fields_for :posts do |posts_field| %>
                <%= posts_field.hidden_field :user_id, :value => current_user.id %>
                <%= posts_field.text_area :content, id: "textarea", require: true, placeholder: "어떤 이야기를 나눌까요?" %>
              <% end %>
      
              <%= form.submit '글 남기기', class: "btn btn-outline-secondary" %>
      
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
