<div class="text-center py-2">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-login py-2"}) do |f| %>
      <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
        </div>
        <%= f.text_field :name, required: false, autofocus: true, class: "form-control py-2" %>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">이메일</span>
        </div>
        <%= f.email_field :email, required: false, autofocus: true, class: "form-control py-2" %>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">비밀번호</span>
        </div>
        <%= f.password_field :password, required: false, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-control py-2" %>
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">비밀번호 확인</span>
        </div>
        <%= f.password_field :password_confirmation, required: false, autofocus: true, class: "form-control py-2" %>
      </div>

      <button class="btn btn-lg btn-warning btn-block" type="submit">확인</button>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>