<div class="row py-2">
  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4" style="width: 18rem;">
      <img class="rounded-circle" src="/assets/profile/lion.gif" alt="" width=270, height=270>
      <div class="card-body">
        <h5 class="card-title"><%= @user.name %>님의 책짹</h5>
        <p class="card-text">
            팔로잉 : <%= @user.followees.count %>
        </p>
        <p class="card-text">
            팔로워 : <%= @user.followers.count %>
        </p>
        
        <!-- 준우 샘이 도와주신 follow/unfollow 버튼 처리 -->
        <% if can? :follow, @user %>
          <% if @user.followers.include?(current_user) %>
            <%= link_to 'unfollow', follow_user_path(@user), method: :post, class: "btn btn-primary" %>
          <% else %>
            <%= link_to 'follow', follow_user_path(@user), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
        
      </div>
    </div>
  </div>
  
  <div class="col-md-8 order-md-1">
    <%= render 'posts/list' %>
  </div>
</div>