<div class="row py-2">

  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4 book-info" style="width: 18rem;">
      <div class="book-image">
        <!--book image-->
        <%= image_tag book_thumbnail250(@book.thumbnail), class: "border mx-3", width: '250px' %>  
      </div>
      <div class="book-detail">
        <h6 class="card-title mb-2"><%= @book.title %></h6>
        <div class="card-subtitle mb-2 text-muted"><%= @book.authors %></div>
        <div>책짹 <strong><%= @posts.count %></strong>개</div>

      </div>
    </div>

    <div class="card my-4 book-reader" style="width: 18rem;">
      <!-- 그냥 card-body만 위로 갖다 붙이면 경계선이 붙어 버린다. -->
      <div class="card-body">
        <div class="title">책짹을 남긴 분들</div>
        <div class="reader-list">
          <% @posts.each do |post| %>
            <!--user delete 이후에 해당 사용자가 남긴 게시물을 DB에 남겨둘 것인가?-->
            <!--일단 user와 post model에서 has_many는 무조건 dependent: :destroy로 줘서 몽땅 삭제하게 해 놨음-->
            <!--보존이 필요하다면 아래와 같은 방법으로 DB에는 남아 있지만 테이블에 존재하지 않다면 보여주지 안는 식으로 처리해야 함-->
            <%# if User.all.include?(post.user) %>
            <!--이미지 태그에 링크를(class를 image_tag() 외부에 지정하면 a의 class에 적용이 된다-->
            <%= link_to image_tag(avatar_url(post.user), class: "rounded-circle user-photo", title: post.user.name), post.user %>
            <!--이미지 태그만-->
            <%#= image_tag avatar_url(post.user), class: "rounded-circle user-photo" %>
            <%# end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <%= render 'post_list' %>
  </div>

</div>

