<div class="text-center py-2">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-login py-2"}) do |f| %>
      <img class="mb-4" src="/assets/logo/logo.png"></img>
      <div class="row py-2">
        <%= f.email_field :email, required: false, autofocus: true, id: "inputEmail", class: "form-control py-2", placeholder: "메일 주소" %>
      </div>
      <div class="row">
        <%= f.password_field :password, required: false, id: "inputPassword", class: "form-control py-2", placeholder: "비밀번호" %>
      </div>
      <div class="checkbox mb-3 py-4">
        <label>
          <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>로그인 상태 유지
          </label>
      </div>
      <button class="btn btn-lg btn-warning btn-block" type="submit">로그인</button>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>