    <% @posts.each do |post| %>
    <div class="card my-4">
      <div class="media py-2">
        <%#= image_tag post.image.url(:thumb), class: "align-self-center mr-3" %>
        <div class="media-body">
          <h6><%= post.created_at %></h6> 
          <h6><%= link_to post.user.name, post.user %></h6>
          <h5 class="card-title"><%= post.book.title %><small> (<%= post.like_users.count %>) </small></h5> 
          <%= image_tag post.book.image %>
          <p><%= render_with_hashtags(post.content) %></p>
          <%= link_to 'Show', post %>
          <% if can? :manage, post %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: '삭제하시겠습니까?' } %>
            <% if !post.like_users.include?(current_user)%>
                <%= link_to( content_tag(:i, "",class: ["far", "fa-heart"]), like_post_path(post), method: :post )%>
            <% else %>
                <%= link_to( content_tag(:i, "",class: ["fas", "fa-heart"]), like_post_path(post), method: :post )%>
            <% end %>
          <% end %>
        </div>
      </div>     
    </div>
    <% end %>
