<div class="row py-2">

  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4" style="width: 18rem;">
      <div class="profile-image">
        <!--gravatar image를 profile 이미지로 사용하기-->
        <%= image_tag avatar_url(current_user), class: "rounded-circle", style: "padding: 30px;" %>  
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= current_user.name %></h5>
        <p class="card-text">팔로잉 : <%= current_user.followees.count %></p>
        <p class="card-text">팔로워 : <%= current_user.followers.count %></p>
      </div>
    </div>

    <div class="card my-4" style="width: 18rem;">
      <!-- 그냥 card-body만 위로 갖다 붙이면 경계선이 붙어 버린다. -->
      <div class="card-body">
        <h5 class="card-title">추천 사용자</h5>
          <% @users.each do |u| %>
            <p class = "card-text" ><%= link_to u.name, u %><%= u.posts_count %></p>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <div class="search-book">
      <!--게시글 등록하기-->      
      <%= form_tag search_path, method: :get, class: "input-group mt-4" do %>
        <%= text_field_tag :keyword_book, params[:keyword_book], require: true, class: "form-control search-book-input", placeholder: "무슨 책을 읽었나요?" %>
        <div class="input-group-btn">
          <%= submit_tag '책 찾기', class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
    
    <%= render 'list' %>
  </div>

</div>
