<div class="row py-2">

  <div class="col-md-4 order-md-2 md-4 text-center">
    <div class="card my-4" style="width: 18rem;">
      <div class="profile-image">
        <!--gravatar image를 profile 이미지로 사용하기-->
        <%= image_tag avatar_url(current_user), class: "rounded-circle", style: "padding: 30px;" %>  
      </div>
      <div class="card-body">
        <h5 class="card-title"><strong><%= current_user.name %></strong>님</h5>
        <div class="row follow-counter">
          <div class="col-md-4", style="text-align: center; padding: 0 5px;">
            <div>책짹</div> 
            <div><strong><%= current_user.posts_count %></strong></div>
          </div>  
          <div class="col-md-4", style="text-align: center; padding: 0 5px;">
            <div>팔로잉</div>
            <div><strong><%= current_user.followees.count %></strong></div>
          </div>
          <div class="col-md-4", style="text-align: center; <padding></padding>: 0 5px;">
            <div>팔로워</div>
            <div><strong><%= current_user.followers.count %></strong></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card my-4 suggested-friends" style="width: 18rem;">
      <!-- 그냥 card-body만 위로 갖다 붙이면 경계선이 붙어 버린다. -->
      <div class="card-body">
        <div class="title">팔로우 추천</div>
          <div class="suggested-friends-list">
          
            <% @users.each do |u| %>
              <div class="row">
                <div class="col-md-2 suggested-friend-thumbnail">
                <%= link_to image_tag(avatar_url(u), class: "rounded-circle user-photo", title: u.name), u %>
                </div>
                <div class="col-md-10 suggested-friend-info">
                  <div class="suggested-friend-info-post-count">
                    <strong><%= link_to u.name, u%></strong><span class="small-font">님의 책짹</span> <strong><%= u.posts_count %></strong><span class="small-font">개</span>  
                  </div>
                </div>
              </div>  
            <% end %>
          </div>

      </div>
    </div>
  </div>

  <div class="col-md-8 order-md-1">
    <div class="search-book">
      <!--게시글 등록하기-->      
      <%= form_tag search_path, method: :get, class: "input-group mt-4" do %>
        <%= text_field_tag :keyword_book, params[:keyword_book], require: true, class: "form-control search-book-input", placeholder: "무슨 책을 읽었나요?" %>
        <div class="input-group-btn">
          <%= submit_tag '책 찾기', class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
    
    <%= render 'list' %>
  </div>

</div>
