<div class="card">
  <div class="card-header text-center">
    새 글 작성하기
  </div>
  
  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <%= params[:title] %>
    </p>
    
    <p>
      <strong>Author:</strong>
      <%= params[:author] %>
    </p>
    
    <p>
      <strong>Image:</strong>
      <%= image_tag params[:image] + "?type=m4" %>
    </p>
    
    <p>
      <strong>Isbn:</strong>
      <%= params[:isbn] %>
    </p>
    
    <p>
      <strong>Publisher:</strong>
      <%= params[:publisher] %>
    </p>

    <%= form_for(@post) do |form| %>
    
      <%= form.hidden_field :book_id, :value => @post.book.id %>
    
      <!--아... 이거 졸라 힘들었어요. text_area에 maxlength가 없어서-->
      <div class="text_area">
        <%= form.text_area :content, onKeyup: 'len_chk(200)', require: true, placeholder: '이 책을 읽고 무엇을 느꼈나요?' %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
      
    <% end %>
  
  </div>
</div>

<%= link_to 'Back', posts_path %>
