<% if @page_status == 2 %>
  <h1>검색어를 입력하세요.</h1>
<% else %>
  
  <% if @items.present? %>
    <h4><b class="text-warning"><%= @keyword_book %></b>에 대한 검색결과입니다.</a></h4>
    <table class="table table-hover table-striped">
      <thead>
        <th>제목</th>
        <th>책표지</th>
        <th>저자</th>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td>
              <%#= link_to item['title'].html_safe, new_post_path, :data => {:title => item['title'], :isbn => item['isbn']} %>
              <%= link_to item['title'].html_safe, 
                new_post_path(
                  title: strip_tags(item['title']),
                  isbn: strip_tags(item['isbn']),
                  author: strip_tags(item['authors'].join(",")),
                  image: strip_tags(item['thumbnail']),
                  publisher: strip_tags(item['publisher'])) %>
            </td>
            <td>
              <%= image_tag book_thumbnail_search(strip_tags(item['thumbnail'])), class: "border mx-3", width:'80px' %>
            </td>
            <td>
              <%= item['authors'].join(",").html_safe %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <!--검색어를 입력해주세요.-->
  <% end %>


  <% 1.upto(@max_index) do |p| %>
    <%= link_to p, search_path(keyword_book: @keyword_book, page: p) %> |  
  <% end %>
    
  <% unless @page_status == 3 %>
  
  <%#= link_to 'more', search_path(
                      keyword_book: @keyword_book,
                      page: @page), class: "btn btn-primary" %>

  <% else %>
    <h1>마지막 페이지입니다.</h1>
  <% end %>
    
  <%#= link_to 'more', search_path(
                      keyword_book: @keyword_book,
                      start_value: @start_value), class: "btn btn-primary" %>


<% end %>
  


