<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container">
    <%= link_to image_tag('/assets/logo/logo_mini.png'), root_path, class: "navbar-brand" %>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-content" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbar-collapse-content">

      <!-- Links -->

      <% if user_signed_in? %>
        <%= image_tag avatar_url(current_user), class: "rounded-circle user-photo align-self-center" %>
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to current_user.name, current_user, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to '정보수정', edit_user_registration_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "nav-link" %></li>
        </ul>
        
        <!-- 책짹 검색하기  -->
        <div class="mr-sm-5">
          <%= form_tag posts_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
            <%= text_field_tag :content, params[:content], class: "form-control mr-sm-2", placeholder: "검색어를 입력하세요." %>
            <!--엔터를 치고나서 text_field에 검색했던 값이 남아있도록 하기 위해 params을 넣어둠...-->
            <%= submit_tag '검색하기', class: "btn btn-light" %>
          <% end %>
        </div>
        
      <% else %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to '로그인', new_user_session_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to '회원가입', new_user_registration_path, class: "nav-link" %></li>    
        </ul>
      <% end %>
      
    </div>  
  </div>
</nav>