<!DOCTYPE html>
<html>
  <head>
    <title>책짹</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!--fontawesome - 아이콘 갖다 쓰는거-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF8000; height:80px">
      <%= link_to '책짹', root_path, class: "navbar-brand" %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.name %>
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to '로그아웃', destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                <a class="dropdown-item" href="#">사용자 정보 수정</a>
                <div class="dropdown-divider"></div>
                <%= link_to '내가 쓴 포스트', current_user, class: "dropdown-item" %>
              </div>
            <li class="nav-item"></li>
          <% else %>
            <li class="nav-item"><%= link_to '로그인', new_user_session_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to '회원가입', new_user_registration_path, class: "nav-link" %></li>
          <% end %>
        </ul>
    
        <div class="mr-sm-5">
          <%= form_tag search_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
          <!--<div class="navbar navbar-expand-lg navbar-dark; badge badge-Dark" style="width: 150px; height:35px; font-size:17px;">-->
          <!--  게시글 등록하기-->
          <!--  </div>-->
            <%= text_field_tag :keyword_book, params[:keyword_book], require: true, class: "form-control mr-sm-2", placeholder: "게시할 책을 입력해주세요." %>
            <%= submit_tag '책 찾기', class: "btn btn-light" %>
          <% end %>
        </div>
        <div>
          <%= form_tag posts_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
            <!--엔터를 치고나서 text_field에 검색했던 값이 남아있도록 하기 위해 params을 넣어둠...-->
            <!--<div class="navbar navbar-expand-lg navbar-dark; badge badge-info" style="width: 150px; height:35px; font-size:17px;">-->
            <!--  책짹 검색하기  -->
            <!--  </div>-->
            <%= text_field_tag :content, params[:content], class: "form-control mr-sm-2", placeholder: "키워드를 입력해주세요" %>
            <%= submit_tag '검색하기', class: "btn btn-light" %>
          <% end %>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
